{% load static %}
{% load org %}
{% load vendor %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% org_meta %}
    {% org_icons %}
    {% org_title %}
    {% vendor_bootstrap %}
    {% vendor_bootstrap_icons %}
    {% vendor_aos %}

    {% block vendor %}
    {% endblock vendor %}

    <link href="{% static 'home/index.css' %}" rel="stylesheet" />
    <script defer src="{% static 'home/index.js' %}"></script>
    {% include 'home/layout/header/static.html' %}
    {% include 'home/layout/hero/static.html' %}
    {% include 'home/layout/signin/styles.html' %}
    {% include 'home/layout/signup/styles.html' %}

    {% block assets %}
    {% endblock assets %}

    {% include 'home/layout/footer/static.html' %}
    {% include 'home/overlay/back-to-top/static.html' %}
    {% include 'home/overlay/whatsapp-call-us/static.html' %}
    {% include 'home/overlay/preloader/static.html' %}
  </head>
  <body>
    {% include 'home/layout/header/layout.html' %}
    <main>
      {% include 'home/layout/hero/layout.html' %}
      {% include 'home/layout/signin/layout.html' %}
      {% include 'home/layout/signup/layout.html' %}

      {% block sections %}
      {% endblock sections %}

    </main>
    {% include 'home/layout/footer/layout.html' %}
    {% include 'home/overlay/back-to-top/overlay.html' %}
    {% include 'home/overlay/whatsapp-call-us/overlay.html' %}
    {% include 'home/overlay/preloader/overlay.html' %}
    {% include 'home/overlay/login-signup-modal/overlay.html' %}
  </body>
</html>
