{% if show_auth %}
  {% if auth_signin %}
    {% include "base/widget/section-title/widget.html" with section_title_heading="Sign In" section_title_paragraph="Enter your credentials below to sign in to your account." %}
  {% elif auth_signup %}
    {% include "base/widget/section-title/widget.html" with section_title_heading="Sign up" section_title_paragraph="Enter your credentials below to create a new account." %}
  {% endif %}
  {% include "base/widget/auth-signup/widget.html" %}
  {% include "base/widget/auth-profile-update/widget.html" %}
  {% include "base/widget/auth-signin/widget.html" %}
{% endif %}
