{% load static %}
<section id="contact" class="contact">
  <div class="container">
    {% if contact_addressing|default_if_none:True and contact_form|default_if_none:True %}
      {% include "core/widget/section-title/widget.html" with section_title_heading="Contact" section_title_paragraph="If you have an inquiry, you can get in touch with us using the information below, or you can fill the form and we'll get back to you." %}
    {% elif contact_addressing|default_if_none:True and not contact_form|default_if_none:True %}
      {% include "core/widget/section-title/widget.html" with section_title_heading="Contact" section_title_paragraph="If you have an inquiry, you can get in touch with us using the information below." %}
    {% elif not contact_addressing|default_if_none:True and contact_form|default_if_none:True %}
      {% include "core/widget/section-title/widget.html" with section_title_heading="Contact" section_title_paragraph="If you have an inquiry, you can fill the form and we'll get back to you." %}
    {% else %}
      {% include "core/widget/section-title/widget.html" with section_title_heading="Contact" %}
    {% endif %}
    {% if contact_map|default_if_none:True %}
      <div class="mb-4" data-aos="fade-up" data-aos-delay="200">{% include 'core/widget/contact-map/widget.html' %}</div>
    {% endif %}
    <div class="row justify-content-center">
      <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up">
        <div class="info-box">
          <i class="bi bi-geo-alt"></i>
          <h3>Our Address</h3>
          <p>
            {% if org.building or org.street %}
              {{ org.building }}
              {% if org.street %}, {{ org.street }}{% endif %}
            {% endif %}
            {% if org.city_name or org.PO_Box %}
              <br>
              {{ org.city_name }}
              {% if org.PO_Box %}, {{ org.PO_Box }}{% endif %}
            {% endif %}
            {% if org.zip_code %}
              <br>
              {{ org.zip_code }}
            {% endif %}
          </p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 mt-4"
           data-aos="fade-up"
           data-aos-delay="100">
        <div class="info-box">
          <i class="bi bi-envelope"></i>
          <h3>Email Us</h3>
          <p>
            {{ org.primary_email }}
            {% if org.secondary_email %}
              <br>
              {{ org.secondary_email }}
            {% endif %}
            {% if org.other_email %}
              <br>
              {{ org.other_email }}
            {% endif %}
          </p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 mt-4"
           data-aos="fade-up"
           data-aos-delay="200">
        <div class="info-box">
          <i class="bi bi-telephone"></i>
          <h3>Call Us</h3>
          <p>
            {{ org.primary_phone.as_international }}
            {% if org.secondary_phone %}
              <br>
              {{ org.secondary_phone.as_international }}
            {% endif %}
            {% if org.other_phone %}
              <br>
              {{ org.other_phone.as_international }}
            {% endif %}
          </p>
        </div>
      </div>
    </div>
    {% if contact_form|default_if_none:True %}
      <div class="row justify-content-center"
           data-aos="fade-up"
           data-aos-delay="300">
        <div class="col-xl-9 col-lg-12 mt-4">{% include 'core/widget/contact-form/widget.html' %}</div>
      </div>
    {% endif %}
  </div>
</section>
